@using GovUk.Frontend.AspNetCore.TagHelpers

@{
    ViewData["Title"] = "Tell leaseholders and tenants you’ve started to apply";
}

<div class="text-center">
    <div class="govuk-width-container">
        <a href="/Application/TaskList" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-xl">
                        Send update to leaseholders and tenants
                    </span>
                    <h1 class="govuk-heading-xl">
                        Tell leaseholders and tenants you’ve started to apply
                    </h1>

                    <p class="govuk-body">You need to tell the building’s leaseholders and tenants that you’ve started to apply for this grant.</p>

                    @*//TODO - mockup has no break after this line, locate appropriate CSS class*@
                    <h3 class="govuk-heading-s">What you need to include</h3>
                    <p class="govuk-body">Check the guidance we have sent you to help you with the update.</p>

                    <p class="govuk-body">When you send this update, you need to include:</p>
                    <ul class ="govuk-list govuk-list--bullet">
                        <li>the building address</li>
                        <li>your application start date</li>
                        <li>that you’ve started to apply to the Cladding Safety Scheme</li>
                        <li>next steps which may include a fire risk appraisal of external walls (FRAEW)</li>
                        <li>where to find <a href="https://www.gov.uk/government/collections/pilot-launch-of-the-medium-rise-scheme-mrs" target="_blank" class="govuk-link">more information</a> about the scheme</li>
                    </ul>

                    <p class="govuk-body">We will ask you to upload the evidence on the next page.</p>

                    @*//TODO - mockup has no break after this line, locate appropriate CSS class*@
                    <h3 class="govuk-heading-s">Other updates</h3>
                    <p class="govuk-body">We’ll tell you what other updates you need to send and contact you by email when you need to send an update to leaseholders and tenants.</p>

                    <govuk-button href="/Application/LeaseholderEvidence">Continue</govuk-button>
                    <br/>
                    <a href="/Application/TaskList" class="govuk-link">Cancel and exit</a>
                </div>
            </div>
        </main>
    </div>
</div>