<div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
    <h2 class="govuk-heading-m">Related guidance</h2>

    <a target="_blank" href="#" class="govuk-link govuk-!-margin-bottom-2">
        Organisation guidance
    </a>
</div>