<h1 class="govuk-heading-xl">Upload evidence of communication with leaseholders and residents</h1>

<p class="govuk-body">
    As your works have now come to an end, please provide evidence that leaseholders and residents have been informed, 
    and that the link to the resident survey has been provided. The survey can be found 
    <a target="_blank" href="https://forms.office.com.mcas.ms/Pages/ResponsePage.aspx?id=aeKo-hEIOEWC500pAJIZv70AqgXWPftOscH1n6LMtXVUNDFVNVpMVTg4N0FOVzJMQzBDQlg5WDVXNC4u" class="govuk-link govuk-!-margin-bottom-2" rel="noopener noreferrer">
        here
    </a>.
</p>