@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.ClosingReport.Shared.ClosingReportAboutViewModel
@{
    Layout = "~/Areas/ClosingReport/Views/Shared/_SideCardLayout.cshtml";
    ViewData["Title"] = "Upload Final Cost Report";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["BackLink"] = Url.Action("TaskList", "ClosingReport", new { Area = "ClosingReport" });
    ViewData["FullWidth"] = true;
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">In this section</h2>

        <a rel="noreferrer noopener" target="_blank" href="/CostScheduleTemplates/CSS cost schedule template_v1.1.xlsx" class="govuk-link govuk-!-margin-bottom-2">
            Cost Report Template
        </a>

        <a rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#practical-completion--scheme-exit" class="govuk-link govuk-!-margin-bottom-2">
            Guidance
        </a>
    </div>
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">About this section</h1>
<p class="govuk-body">
    In this section we will ask you to provide a cost report signed by your grant certifying officer and associated invoices to evidence qualifying expenditure.
</p>

<p class="govuk-body">
    You must include:
    <ul class="govuk-list govuk-list--bullet">
        <li>a cost report covering qualifying expenditure for the whole project, including spend associated with pre-tender support, monthly payment claims and the retained 5%</li>
        <li>a PDF including all invoices, detailed in the same order as costs are presented, where possible</li>
    </ul>
</p>

<p class="govuk-body">
    To assist in compiling this information, you can download a template cost report here.
</p>

<section class="gem-c-attachment govuk-!-margin-left-2">
    <div class="gem-c-attachment__thumbnail">
        <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
        </svg>
    </div>
    <div class="gem-c-attachment__details">
        <h2 class="gem-c-attachment__title attachment__title">Cost report template (XLSX)</h2>
        <a class="govuk-link govuk-!-font-size-19" rel="noreferrer noopener" target="_blank" href="/CostScheduleTemplates/CSS cost schedule template_v1.1.xlsx">Download XLSX (74 KB)</a>
    </div>
</section>

<p class="govuk-body">
    For further information please refer to the guidance.
</p>

@using (Html.BeginForm())
{
   <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>
}