@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.FireRiskAppraisal.ExternalWorksRequiredViewModel
@{
    ViewData["Title"] = "External works";
    ViewData["BackLink"] = Url.Action("WorksToCladdingSystems", "FireRiskAppraisal", new { Area = "FireRiskAppraisal" });
    ViewData["FullWidth"] = false;
}

<h1 class="govuk-heading-xl">External works</h1>

<p class="govuk-heading-s">
    Are there any other elements of the external wall in addition to the cladding systems(s) 
    which you are recommending are subject 
    to remediation/mitigation works to address the life safety risk you have identified?
</p>

<form asp-area="FireRiskAppraisal" asp-controller="FireRiskAppraisal" asp-action="ExternalWorksRequired" method="post">
    <govuk-radios asp-for="WorksRequired">
        <govuk-radios-item value="@(ENoYes.Yes)">Yes</govuk-radios-item>
        <govuk-radios-item value="@(ENoYes.No)">No</govuk-radios-item>
    </govuk-radios>

    <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and Continue</govuk-button>
    <govuk-button name="SubmitAction" class="govuk-button--secondary govuk-!-margin-left-4" value="@ESubmitAction.Exit">Save and return later</govuk-button>
</form>
