@{
    ViewData["Title"] = "What you'll need";
    ViewData["BackLink"] = Url.Action("Index", "TaskList", new { Area = "Application" });
    ViewData["FullWidth"] = false;
}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
 <p class="govuk-body">
     Before you submit your application, you'll need to book a Fire Risk Appraisal of External Walls (FRAEW) and upload a report.
 </p>
 <p class="govuk-body">
     This is different to a External Wall Fire Review (ESW1).
 </p>


 <h2 class="govuk-heading-m govuk-!-margin-bottom-0">If you do not have a FRAEW</h2>
 <ol class="govuk-list govuk-list--number govuk-!-padding-left-6">
     <li>Tell us if you have a completed fire risk appraisal.</li>
     <li>Check our list of assessors and contact an assessor.</li>
     <li>Give the assessor your application ID to add to their report.</li>
     <li>Upload the report and answer questions about the appraisal.</li>
 </ol>

 <h2 class="govuk-heading-m govuk-!-margin-bottom-0">If you have a FRAEW</h2>
 <ol class="govuk-list govuk-list--number govuk-!-padding-left-6">
     <li>Tell us if you have a completed fire risk appraisal.</li>
     <li>Check if the assessor is on our list. If they're not listed, you can add their details.</li>
     <li>Upload the report and answer questions about the appraisal.</li>
     <li>Provide a FRAEW summary.</li>
 </ol>


 <govuk-button href="@Url.Action("CompletedAppraisal", "FireRiskAppraisal", new { Area = "FireRiskAppraisal" })">Continue</govuk-button>