@using GovUk.Frontend.AspNetCore.TagHelpers
@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.BuildingDetails.BuildingSafetyRegulatorRegistrationCodeViewModel
@{
    ViewData["Title"] = "What is your Building Safety Regulator registration code?";
    ViewData["Backlink"] = Url.Action("BuildingHasSafetyRegulatorRegistrationCode", "BuildingDetails", new { Area = "BuildingDetails" });
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="BuildingSafetyRegulatorRegistrationCode" />
    </govuk-error-summary>
}
<form method="post" asp-area="BuildingDetails" asp-controller="BuildingDetails" asp-action="BuildingSafetyRegulatorRegistrationCode">

    @Html.HiddenFor(m => m.ApplicationScheme)

    <govuk-input asp-for="BuildingSafetyRegulatorRegistrationCode" input-class="govuk-input--width-20">
        <govuk-input-label is-page-heading="true" class="govuk-label--xl">
            What is your Building Safety Regulator registration code?
        </govuk-input-label>
    </govuk-input>

    <div class="comp-btn-group">
    <govuk-button name="SubmitAction" value="@(ESubmitAction.Continue)">Save and continue</govuk-button>
    <govuk-button name="SubmitAction" value="@(ESubmitAction.Exit)" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>