@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.MonthlyProgressReporting.KeyDates.PlanningPermissionDatesChangedViewModel;
@{
    ViewData["Title"] = "Progress report - Project key dates";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["FullWidth"] = false;
    ViewData["BackLink"] = Model.AppliedForPlanningPermission == true
        ? Url.Action("TellUsAboutPlanningPermission", "PlanningPermission", new { Area = "MonthlyProgressReportingKeyDates" })
        : Url.Action("ReasonNotAppliedPlanningPermission", "PlanningPermission", new { Area = "MonthlyProgressReportingKeyDates" });
}

@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="ChangeTypeId" />
        <govuk-error-summary-item asp-for="ChangeReason" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Your key dates have changed</h1>

<form asp-area="MonthlyProgressReportingKeyDates" asp-controller="PlanningPermission" asp-action="DatesChanged" method="post">
    @await Html.PartialAsync("~/Views/Shared/KeyDatesChanged.cshtml", Model)
    
    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
    </div>
</form>