@using HE.Remediation.Core.Enums;
@using HE.Remediation.WebApp.ViewModels.MonthlyProgressReporting.KeyDates
@model HaveYouAppliedPlanningPermissionViewModel
@{
    ViewData["Title"] = "Progress report - Project key dates";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["Backlink"] = Url.Action("Index", "PlanningPermission");
    ViewData["ExitLinkHidden"] = false;
    ViewData["FullWidth"] = true;
}

@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="HaveAppliedPlanningPermission" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Have you applied for planning permission?</h1>

<form asp-area="MonthlyProgressReportingKeyDates" asp-controller="PlanningPermission" asp-action="HaveYouAppliedPlanningPermission" method="post">

    <govuk-radios asp-for="HaveAppliedPlanningPermission">
        <govuk-radios-fieldset>
        </govuk-radios-fieldset>
        <govuk-radios-item value="@(true)">Yes</govuk-radios-item>
        <govuk-radios-item value="@(false)">No</govuk-radios-item>
    </govuk-radios>

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
    </div>
</form>