@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.ResponsibleEntities.ResponsibleEntityCompanyAddressViewModel
@{
    ViewData["Title"] = "What is the company address of the Responsible Entity";
    ViewData["BackLink"] = Url.Action("ResponsibleEntityCompanyDetails", "ResponsibleEntities", new { Area = "ResponsibleEntities" });
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="NameNumber"/>
        <govuk-error-summary-item asp-for="AddressLine1"/>
        <govuk-error-summary-item asp-for="AddressLine2"/>
        <govuk-error-summary-item asp-for="City"/>
        <govuk-error-summary-item asp-for="County"/>
        <govuk-error-summary-item asp-for="Postcode"/>
    </govuk-error-summary>
}
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<form asp-area="ResponsibleEntities" asp-controller="ResponsibleEntities" asp-action="ResponsibleEntityCompanyAddress" method="post">
    <partial name="_AddressPartial" view-data="ViewData" />

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="@ESubmitAction.Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="@ESubmitAction.Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>