@using GovUk.Frontend.AspNetCore.TagHelpers
@using System.Globalization;
@model HE.Remediation.WebApp.ViewModels.PreTenderSupport.ClaimPreTenderSupportViewModel

@{
    ViewData["Title"] = "Claim pre-tender support";
    ViewData["Backlink"] = Url.Action("GrantFundingAgreement", "PreTenderSupport", new { Area = "PreTenderSupport" });
    ViewData["FullWidth"] = false;
}

<h1 class="govuk-heading-xl">
    Claim pre-tender support for your application
</h1>

<p class="govuk-body">
    Advance Funding Support is financial assistance provided to applicants. It is a one-off payment, and makes
    up part of the total allowance for the mid-rise grant funding.
</p>

<p class="govuk-body">
    You are eligible to claim:
    <br />
    <span><b>@Model.EligibleClaimAmount.ToString("C0", CultureInfo.CurrentCulture)</b></span>
</p>

<p class="govuk-body">

</p>

<p class="govuk-body">
    This total is calculated from the area of unsafe cladding on your building, which is evidenced as an output of the FRAEW report.
</p>

<p class="govuk-body">
    The building being deemed eligible or being approved for this funding is not confirmation that works costs submission will be approved.
</p>

<p class="govuk-body">
    Costs at this stage of the application can be related to completion of the FRAEW, associated technical surveys and the design and tendering of the eligible works. As part of this claim, you will be asked where you have spent the funding during your monthly reporting obligations.
</p>

<p class="govuk-body">
    If the works do not proceed, your monthly reporting obligations are not fulfilled, or your work package is not approved, we reserve the right to recoup the value of this advance funding.
</p>

<p class="govuk-body">
    In order to access this funding, you will need to sign the pre-tender support agreement, the terms of which are non-negotiable.
</p>

<govuk-button href="@Url.Action("SupportRequired", "PreTenderSupport", new {Area = "PreTenderSupport"})">Start &gt;</govuk-button>