@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HE.Remediation.WebApp.ViewModels.PreTenderSupport.SupportRequiredViewModel

@{
    ViewData["Title"] = "Claim pre-tender support";
    ViewData["BackLink"] = Url.Action("ClaimPreTenderSupport", "PreTenderSupport", new { Area = "PreTenderSupport" });
    ViewData["FullWidth"] = false;
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="SupportRequired" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">Do you require pre-tender support?</h1>

<form asp-area="PreTenderSupport" asp-controller="PreTenderSupport" asp-action="SetSupportRequired" method="post">
    <p class="govuk-body">This funding is to help financially support you to undertake the design, specification 
        and/or the tender process required to start the remediation works.
    </p>

    <p class="govuk-body">If you do not request this financial support now, you will be able to make a
        claim at a later date, provided you have not submitted your work package.
    </p>
    <govuk-radios name="SupportRequired" asp-for="SupportRequired">
        <govuk-radios-item value="True">I <span class="govuk-!-font-weight-bold">do</span> require pre-tender support</govuk-radios-item>
        <govuk-radios-item value="False">I <span class="govuk-!-font-weight-bold">do not</span> currently require pre-tender support</govuk-radios-item>
    </govuk-radios>

    <div class="comp-btn-group">
        <govuk-button name="SubmitAction" value="Continue">Save and continue</govuk-button>
        <govuk-button name="SubmitAction" value="Exit" class="govuk-button--secondary">Save and return later</govuk-button>
    </div>
</form>
