@{
    ViewData["Title"] = "Submit building application";
}

<div class="text-center">
    <div class="govuk-width-container">
        <govuk-back-link href=@Url.Action("Index", "TaskList", new { Area = "Application" })>Back</govuk-back-link>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">
                        Submit
                    </span>

                    <h1 class="govuk-heading-xl">Submit building application</h1>

                    <p class="govuk-body">Submit this building once you have entered all the relevant information.</p>

                    <p class="govuk-body">By submitting this application, you confirm that the information you have
                        provided for your fire risk appraisal is true and correct to the best of your
                        knowledge.</p>
                    
                    <br/>

                    <form asp-area="Application" asp-controller="Submit" asp-action="SubmitApplication" method="post">
                        <govuk-button type="submit">Confirm and submit</govuk-button>
                    </form>

                    <a href=@Url.Action("Index", "TaskList", new { Area = "Application" }) class="govuk-link">Cancel and exit</a>
                </div>
            </div>
        </main>
    </div>
</div>
