#main-content {
    padding-top: 0;
}

.survey-instruction-details-selector-hint {
    margin-bottom: 5px;
}

header.govuk-header .govuk-header__service-name .govuk-caption-l {
    pointer-events: none;
    display: inline-block;
    color: #fff;
}

header.govuk-header .govuk-header__service-name .logout {
    float: right;
    line-height: 1.75em
}

.govuk-summary-list .govuk-summary-list__key {
    width: 40% !important;
}

.govuk-summary-list .govuk-summary-list__value {
    width: 40% !important;
}

.comp-btn-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comp-btn-group button {
    margin-right: 18px;
}

.comp-btn-group button:last-child {
    margin-right: 0px;
}

.related-content-separator-line {
    height: 2px;
    border: none;
    color: #1D70B8;
    background-color: #1D70B8;
}

.app-cards {
    display: flex;
    flex-wrap: wrap;
}

.app-cards .govuk-grid-column-one-third {
    float: none;
    margin-bottom: 30px;
}

.app-cards .govuk-grid-column-one-quarter {
    float: none;
    margin-bottom: 30px;
}

.app-card {
    display:inline-block;
    background-color: #F3F2F1;
    padding: 20px 25px 35px;
    border-bottom: 4px solid #1D70B8;
    min-height: 190px;
    height: 100%;
    box-sizing: border-box;
}

.task-count{
    width:100%;
    min-height:100px;
}

.app-card-full-width {
    width: 100%;
    min-height: 100px;
}

.app-card .govuk-link {
    color: #1d70b8;
}

    .app-card:hover .govuk-link {
        color: #003078;
    }

.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .app-task-list {
        min-width: 550px;
    }
}

.app-task-list__section {
    display: table;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
}

@media print {
    .app-task-list__section {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__section {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

@media print {
    .app-task-list__section {
        font-size: 18pt;
        line-height: 1.15;
    }
}

.app-task-list__section-number {
    display: table-cell;
}

@media (min-width: 40.0625em) {
    .app-task-list__section-number {
        min-width: 30px;
        padding-right: 0;
    }
}

.app-task-list__items {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}

@media print {
    .app-task-list__items {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {
    .app-task-list__items {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        margin-bottom: 60px;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        padding-left: 30px;
    }
}

.app-task-list__item {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .app-task-list__item:after {
        content: "";
        display: block;
        clear: both;
    }

    .app-task-list__item:first-child {
        border-top: 1px solid #b1b4b6;
    }

.app-task-list__task-name {
    display: block;
}

@media (min-width: 28.125em) {
    .app-task-list__task-name {
        float: left;
    }
}

.app-task-list__tag,
.app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
}

.app-task-list__status_column {
    white-space: break-spaces;
    display: flex;
    padding: 1rem;
}

@media (min-width: 28.125em) {
    .app-task-list__tag,
    .app-task-list__task-completed {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 48.0625em) {
    .app-task-list__status_column {
        white-space: nowrap;
        min-width: 0;
    }
}

.govuk-pagination {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(min-width: 40.0625em) {
    .govuk-pagination {
        margin-bottom: 30px
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
}

.govuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none
}

.govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-width: 45px;
    min-height: 45px;
    padding: 10px 15px;
    float: left
}

@media print {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-pagination__item, .govuk-pagination__next, .govuk-pagination__prev {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-pagination__item:hover, .govuk-pagination__next:hover, .govuk-pagination__prev:hover {
    background-color: #f3f2f1
}

.govuk-pagination__item {
    display: none;
    text-align: center
}

@media(min-width: 40.0625em) {
    .govuk-pagination__item {
        display: block
    }
}

.govuk-pagination__prev, .govuk-pagination__next {
    font-weight: 700
}

    .govuk-pagination__prev .govuk-pagination__link, .govuk-pagination__next .govuk-pagination__link {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center
    }

.govuk-pagination__prev {
    padding-left: 0
}

.govuk-pagination__next {
    padding-right: 0
}

.govuk-pagination__item--current, .govuk-pagination__item--ellipses, .govuk-pagination__item:first-child, .govuk-pagination__item:last-child {
    display: block
}

.govuk-pagination__item--current {
    font-weight: 700;
    outline: 1px solid rgba(0,0,0,0);
    background-color: #1d70b8
}

    .govuk-pagination__item--current:hover {
        background-color: #1d70b8
    }

    .govuk-pagination__item--current .govuk-pagination__link:link, .govuk-pagination__item--current .govuk-pagination__link:visited {
        color: #fff
    }

    .govuk-pagination__item--current .govuk-pagination__link:hover, .govuk-pagination__item--current .govuk-pagination__link:active {
        color: rgba(255,255,255,.99)
    }

    .govuk-pagination__item--current .govuk-pagination__link:focus {
        color: #0b0c0c
    }

.govuk-pagination__item--ellipses {
    font-weight: 700;
    color: #505a5f
}

    .govuk-pagination__item--ellipses:hover {
        background-color: rgba(0,0,0,0)
    }

.govuk-pagination__link {
    display: block;
    min-width: 15px
}

@media screen {
    .govuk-pagination__link:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
}

.govuk-pagination__link:hover .govuk-pagination__link-title--decorated, .govuk-pagination__link:active .govuk-pagination__link-title--decorated {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em
}

.govuk-pagination__link:hover .govuk-pagination__link-label, .govuk-pagination__link:hover .govuk-pagination__link-title--decorated, .govuk-pagination__link:active .govuk-pagination__link-label, .govuk-pagination__link:active .govuk-pagination__link-title--decorated {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.govuk-pagination__link:focus .govuk-pagination__icon {
    color: #0b0c0c
}

.govuk-pagination__link:focus .govuk-pagination__link-label {
    text-decoration: none
}

.govuk-pagination__link:focus .govuk-pagination__link-title--decorated {
    text-decoration: none
}

.govuk-pagination__link-label {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em;
    display: inline-block;
    padding-left: 30px
}

@media print {
    .govuk-pagination__link-label {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-pagination__link-label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-pagination__link-label {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-pagination__icon {
    width: .9375rem;
    height: .8125rem;
    color: #505a5f;
    fill: currentcolor;
    forced-color-adjust: auto
}

.govuk-pagination__icon--prev {
    margin-right: 15px
}

.govuk-pagination__icon--next {
    margin-left: 15px
}

.govuk-pagination--block {
    display: block
}

    .govuk-pagination--block .govuk-pagination__item {
        padding: 15px;
        float: none
    }

    .govuk-pagination--block .govuk-pagination__next, .govuk-pagination--block .govuk-pagination__prev {
        padding-left: 0;
        float: none
    }

    .govuk-pagination--block .govuk-pagination__next {
        padding-right: 15px
    }

        .govuk-pagination--block .govuk-pagination__next .govuk-pagination__icon {
            margin-left: 0
        }

    .govuk-pagination--block .govuk-pagination__prev + .govuk-pagination__next {
        border-top: 1px solid #b1b4b6
    }

    .govuk-pagination--block .govuk-pagination__link, .govuk-pagination--block .govuk-pagination__link-title {
        display: inline
    }

        .govuk-pagination--block .govuk-pagination__link-title:after {
            content: "";
            display: block
        }

    .govuk-pagination--block .govuk-pagination__link {
        text-align: left
    }

        .govuk-pagination--block .govuk-pagination__link:focus .govuk-pagination__link-label {
            outline: 3px solid rgba(0,0,0,0);
            color: #0b0c0c;
            background-color: #fd0;
            -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
            box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
            text-decoration: none;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone
        }

        .govuk-pagination--block .govuk-pagination__link:not(:focus) {
            text-decoration: none
        }

    .govuk-pagination--block .govuk-pagination__icon {
        margin-right: 10px
    }

/* Not part of the GOV CSS */
.govuk-text-align-right {
    text-align: right !important;
}

.govuk-flex-row {
    display: flex;
    flex-direction: row;
}

.govuk-flex-column {
    display: flex;
    flex-direction: column;
}

.govuk-currency {
    justify-content: center;
    height: 1.8rem;
    background-color: #F3F2F1;
    padding: 5px 12px 6px 12px;
    box-shadow: 2px 0px 0px #0b0c0c, inset 0px -2px 0px #0b0c0c, inset 0px 2px 0px #0b0c0c, inset 2px 0px 0px #0b0c0c;
}

    .govuk-currency span {
        font-family: GDS Transport,arial,sans-serif;
        font-weight: 400;
    }


.govuk-stage-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.govuk-stage-list-item {
    display: flex;
    flex-direction: row;
}

.govuk-stage-list-item.govuk-stage-list-item-selected > .govuk-stage-list-item-bullet {
    background: #003078;
    border: 1px solid #003078;
}

.govuk-stage-list-item.govuk-stage-list-item-selected > .govuk-stage-list-item-line {
    border: 1px solid #003078;
}

.govuk-stage-list-item-bullet {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 11.5px;
    background: #B1B4B6;
    border-radius: 50%;
    border: 1px solid #B1B4B6;
}

.govuk-stage-list-item.govuk-stage-list-item-current > .govuk-stage-list-item-bullet {
    
    border-radius: 50%;
    border-style: solid;    
    border-color: blue;
    background-color: rgba(255, 255, 255, 255);
    line-height: 0px;    
    padding-top: 0;
}

.govuk-stage-list-item:first-child > .govuk-stage-list-item-bullet {
    top: 0;
}

.govuk-stage-list-item:first-child > .govuk-stage-list-item-text {
    padding-top: 0;
    padding-bottom: 20px;
}

.govuk-stage-list-item:last-child > .govuk-stage-list-item-text {
    padding-bottom: 0;
}

.govuk-stage-list-item > .govuk-stage-list-item-text {
    color: #000000;
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    font-family: GDS Transport,arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14.4521px;
    line-height: 17px;
}

.govuk-stage-list-item > .govuk-stage-list-item-line {
    border: 1px solid #B1B4B6;
}

.imageDescription img {
    display: block;
}

.imageDescription span {
    display: block;
    font-size: 14.4521px;
    padding-top:0.5em;
}

.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8
}

@media print {
    .govuk-notification-banner {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-notification-banner {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner {
        margin-bottom: 50px
    }
}

.govuk-notification-banner:focus {
    outline: 3px solid #fd0
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0)
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner__header {
        padding: 2px 20px 5px
    }
}

.govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff
}

@media print {
    .govuk-notification-banner__title {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner__title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-notification-banner__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff
}

@media print {
    .govuk-notification-banner__content {
        color: #000
    }
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner__content {
        padding: 20px
    }
}

.govuk-notification-banner__content > * {
    box-sizing: border-box;
    max-width: 700px
}

.govuk-notification-banner__content > :last-child {
    margin-bottom: 0
}

.govuk-notification-banner__heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin: 0 0 15px 0;
    padding: 0
}

@media print {
    .govuk-notification-banner__heading {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-notification-banner__heading {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-notification-banner__heading {
        font-size: 18pt;
        line-height: 1.15
    }
}

.govuk-notification-banner__link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em
}

@media print {
    .govuk-notification-banner__link {
        font-family: sans-serif
    }
}

.govuk-notification-banner__link:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.govuk-notification-banner__link:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.govuk-notification-banner__link:link {
    color: #1d70b8
}

.govuk-notification-banner__link:visited {
    color: #1d70b8
}

.govuk-notification-banner__link:hover {
    color: #003078
}

.govuk-notification-banner__link:active {
    color: #0b0c0c
}

.govuk-notification-banner__link:focus {
    color: #0b0c0c
}

.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c
}

    .govuk-notification-banner--success .govuk-notification-banner__link:link, .govuk-notification-banner--success .govuk-notification-banner__link:visited {
        color: #00703c
    }

    .govuk-notification-banner--success .govuk-notification-banner__link:hover {
        color: #004e2a
    }

    .govuk-notification-banner--success .govuk-notification-banner__link:active {
        color: #00703c
    }

    .govuk-notification-banner--success .govuk-notification-banner__link:focus {
        color: #0b0c0c
    }

.no-results {
    background-color: #f3f2f1;
    padding: 30px 32px 30px 30px;
}

    .no-results.bottom-highlight {
        border-bottom: 5px solid #1d70b8;
    }

.no-line-wrap {
    white-space: normal;
    word-break: break-word
}

.count {
    top: -2px;
    left: 12px;
    background-color: #1D70B8;
    color: white !important;
    border-radius: 30px;
    padding: 3px 9px;
    text-align: center;
    font-family: GDS Transport,arial,sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.25;
}

.no-margin {
    margin: 0px !important;
}

.no-border{
    border: none !important;
}

.margin-ten{
    margin-bottom: 10px !important;
}

.gem-c-attachment {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: relative
}

.gem-c-attachment__thumbnail {
    position: relative;
    width: auto;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 5px;
    float: left
}

.gem-c-attachment__thumbnail-image {
    display: block;
    width: auto;
    max-width: 99px;
    height: 140px;
    border: rgba(11,12,12,0.1);
    outline: 5px solid rgba(11,12,12,0.1);
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    fill: #b1b4b6;
    stroke: #b1b4b6
}

.gem-c-attachment:after {
    content: "";
    display: block;
    clear: both
}

.gem-c-attachment__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin: 0 0 15px
}

.attachment__title {
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25
}

.inline-task__tag {
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.govuk-table__row.bold-bottom-table-border .govuk-table__cell,
.govuk-table__row.bold-bottom-table-border .govuk-table__header {
    border-bottom-color: #0b0c0c;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
}

.govuk-grid-row.info-cards {
    padding-left: 15px;
}

    .info-cards .govuk-grid-column-one-quarter {
        float: none;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-right: 10px;
    }

    .info-card {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        background-color: #F3F2F1;
        border-top: 4px solid #1D70B8;
        padding: 20px 25px 10px;
        box-sizing: border-box;
    }

    .info-card-bottom-border {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        background-color: #F3F2F1;
        border-bottom: 4px solid #1D70B8;
        padding: 20px 25px 27px;
        height: 100%;
        box-sizing: border-box;
    }

    @media (max-width: 40.0525em) {
        .info-card {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 80px;
            width: 100%;
        }
        .info-cards .govuk-grid-column-one-quarter {
            margin-bottom: 5px;
        }
    }

    @media (min-width: 40.0625em) {
        .info-card {
            flex: 1 1 100%;
        }
    }

.info-card.blank-background {
    background-color: transparent;
}

.sticky-parent {
    position: relative;
    height: 100% !important;
    display: block;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    padding: 5px;
    z-index: 1020;
}

.out-of-range-number-text {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d4351c;
    font-weight: 700;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin-top: 0;
    margin-bottom: 15px;
}

input.right-aligned {
    text-align: right;
}

/* JS show hide */
.js-hidden {
    display: block;
}

.js-enabled .js-hidden {
    display: none;
}

.app-card.no-bottom-border {
    border-bottom-width: 0px;
}

.hidden {
    display: none;
}

.text-override-colour-default {
    color: #0b0c0c !important;
}

/* Begin application filtering */
.application-filter-bg {
    background: #f3f2f1;
    margin-left: 0 !important;
}

.application-filter-border {
    border:1px solid #b1b4b6;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-19-5 {
    padding: 19.5px;
}

.remove-buttons {
    background-color: white !important;
    border: 1px black solid !important;
}

a.clear-filters {
    margin-top: 20px;
    margin-bottom: 29px;
    margin-left: 110px;
    display: inline-block;
}

.margin-top-bottom-5 {
    margin: 5px 0;
}

.margin-left-30 {
    margin-left: 30px; 
}
/* End of application filtering */