@using GovUk.Frontend.AspNetCore.TagHelpers

@{
    ViewData["Title"] = "Tell leaseholders and residents you've started to apply";
    ViewData["BackLink"] = Url.Action("Index", "TaskList", new { Area = "Application" });
    ViewData["FullWidth"] = true;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Tell leaseholders and residents you've started to apply
        </h1>

        <p class="govuk-body">You need to tell the building's leaseholders and residents that you've started to apply for this grant.</p>

        <h2 class="govuk-heading-s">What you need to include</h2>
        <p class="govuk-body">Check the guidance we have sent you to help you with the update.</p>

        <p class="govuk-body">When you send this update, you need to include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the building address</li>
            <li>your application start date</li>
            <li>that you've started to apply for grant funding</li>
            <li>next steps which may include a fire risk appraisal of external walls (FRAEW)</li>
            <li>where to find more information about the relevant scheme</li>
        </ul>

        <p class="govuk-body">We will ask you to upload the evidence on the next page.</p>

        <h3 class="govuk-heading-s">Other updates</h3>
        <p class="govuk-body">We'll tell you what other updates you need to send and contact you by email when you need to send an update to leaseholders and residents.</p>

        <govuk-button href=@(Url.Action("Evidence", "Leaseholder", new { Area = "Leaseholder" }))>Continue</govuk-button>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="related-content-separator-line" />
        <h2 class="govuk-heading-m">Related links</h2>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/building-safety-fund-leaseholder-and-resident-service">Building Safety Fund leaseholder and resident service</a>
        <br/><br/>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/cladding-safety-scheme-information-for-leaseholders-and-residents">Cladding Safety Scheme information for leaseholders and residents</a>
    </div>
</div>