@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-back-link href="@ViewData["BackLink"]">Back</govuk-back-link>
        @await RenderSectionAsync("ErrorSummary", false)
        <main class="govuk-main-wrapper">
            <span class="govuk-caption-xl">Bank account details</span>

            @RenderBody()
            
            <div>
                <a class="govuk-link" href="@Url.Action("Index", "TaskList", new {Area = "Application"})">Cancel and exit</a>
            </div>
        </main>
    </div>
</div>
