<h1 class="govuk-heading-xl">Upload evidence of signed off building regulations</h1>

<p class="govuk-body">
    Please upload the completion certificate from your Building Control Body in respect of Building Regulations. For buildings over 18 metres this will be the Gateway 3 approval from the Building Safety Regulator.
</p>