<h1 class="govuk-heading-xl">Upload exit FRAEW report</h1>

<p class="govuk-body">
    Please upload an exit FRAEW following PAS 9980:2022 methodology demonstrating that  works have been completed in line with recommendations and a covering letter summarising the outcome of the report.
</p>