<h1 class="govuk-heading-xl">Upload your Fire Risk Assessment</h1>

<p class="govuk-body">
    Please upload a current Fire Risk Assessment for this building, which reflects that remediation works to address the unsafe cladding 
    have been completed and the risk to life is now at a tolerable level in line with PAS9980:2022.
</p>