@model HE.Remediation.WebApp.ViewModels.ClosingReport.ClosingReportInformationViewModel
@{
    Layout = "~/Areas/PaymentRequest/Views/Shared/_SideCardLayout.cshtml";
    ViewData["Title"] = "Final payment request";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["BackLink"] = Url.Action("Index", "StageDiagram", new {Area = "Application"});
    ViewData["FullWidth"] = true;
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">Related guidance</h2>

        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#practical-completion---scheme-exit" class="govuk-link govuk-!-margin-bottom-2">
            Practical completion - scheme exit
        </a>
    </div>
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">About this section</h1>
<p class="govuk-body">
    In order to receive your final payment you will need to provide the following
</p>
<ul class="govuk-list govuk-list--bullet govuk-!-padding-left-6">
    <li>a <b>final cost report</b> that accounts for all eligible spend from your grant certifying officer</li>
    <li>a current Fire Risk Assessment for this building, which reflects that remediation works to address the unsafe cladding have been completed and the risk to life is now at a tolerable level in line with PAS9980:2022.</li>
    <li>a practical completion certificate</li>
    <li>a completion certificate from the appropriate Building Control body in respect of Building Regulations. For buildings over 18m, or 7 storeys or more, this is likely to be the Gateway 3 certificate from the Building Safety Regulator.</li>
    <li>
        evidence that leaseholders and residents have 
        been informed of practical completion of the project and 
        provided with the link to the leaseholder 
        feedback form which is available 
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=aeKo-hEIOEWC500pAJIZv70AqgXWPftOscH1n6LMtXVUNDFVNVpMVTg4N0FOVzJMQzBDQlg5WDVXNC4u">here</a>.
    </li>
    <li>feedback on the performance of your subcontractors via simple questions</li>
</ul>

<govuk-warning-text icon-fallback-text="Warning">
    Please note that once you pass this screen and start the final report you will not be able to submit any further variations for your project to request additional funds. Please be sure that you do not need a variation 
    before continuing.
</govuk-warning-text>
<govuk-button href="@Url.Action("NeedVariations", "ClosingReport", new {Area = "ClosingReport"})">Continue</govuk-button>