@model HE.Remediation.Core.UseCase.Areas.Administration.Credentials.ChangePassword.ChangePasswordRequest

@using HE.Remediation.Core.Extensions
@using HE.Remediation.WebApp.TagHelpers
@{
    ViewData["Title"] = "Change Password";
}
<div class="text-center">
    <div class="govuk-width-container">
        <a href="/Administration/Account" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <govuk-error-summary>
                    <govuk-error-summary-item asp-for="OldPassword" />
                    <govuk-error-summary-item asp-for="NewPassword" />
                    <govuk-error-summary-item asp-for="ConfirmPassword" />
                </govuk-error-summary>

                <h1 class="govuk-heading-xl">Change Password</h1>
                <p class="govuk-body">In order to change your password, please provide the following details:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Current Password</li>
                    <li>New Password</li>
                </ul>
                <p class="govuk-body">Your password must have:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>at least 12 characters</li>
                    <li>at least 2 symbols</li>
                </ul>

                <form asp-area="Administration" asp-controller="Account" asp-action="ChangePassword" method="post">
                    <govuk-input asp-for="OldPassword" name="OldPassword" input-class="govuk-input--width-10" inputmode="text" spellcheck="false" type="password">
                        <govuk-input-label is-page-heading="false" class="govuk-label--s">Old Password</govuk-input-label>
                    </govuk-input>

                    <govuk-input asp-for="NewPassword" name="NewPassword" input-class="govuk-input--width-10" inputmode="text" spellcheck="false" type="password">
                        <govuk-input-label is-page-heading="false" class="govuk-label--s">New Password</govuk-input-label>
                    </govuk-input>

                    <govuk-input asp-for="ConfirmPassword" name="ConfirmPassword" input-class="govuk-input--width-10" text="password" spellcheck="false" type="password">
                        <govuk-input-label is-page-heading="false" class="govuk-label--s">Confirm Password</govuk-input-label>
                    </govuk-input>

                    <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>
                </form>
            </div>
        </main>
    </div>
</div>
