@using HE.Remediation.Core.Extensions
@using HE.Remediation.WebApp.TagHelpers
@{
    ViewData["Title"] = "Change Credentials";
}
<div class="text-center">
    <div class="govuk-width-container">
        <a href="/Administration/Account" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">                
                <h1 class="govuk-heading-xl">Change Credentials</h1>                    
                <h3 class="govuk-heading-m">Change Password</h3>
                <p class="govuk-body">If you wish you change your password, please click below.</p>
                <a href="@Url.Action("ChangePassword", "Account", new { area = "Administration"})" class="govuk-link govuk-heading-m">Change Password</a>
            </div>  
        </main>
    </div>
</div>
