@model HE.Remediation.WebApp.ViewModels.Administration.AdminContactDetailsViewModel

@using HE.Remediation.Core.Extensions
@using HE.Remediation.Core.Interface
@using HE.Remediation.WebApp.TagHelpers
@{
    ViewData["Title"] = "Complete your profile";
    ViewData["FullWidth"] = false;
}
<div class="text-center">
    <div class="govuk-width-container">
        @if (!_adp.IsEnforcedFlow())
        {
            <a href="/Administration" class="govuk-back-link">Back</a>
        }                
        <main class="govuk-main-wrapper">
            <govuk-error-summary>
                <govuk-error-summary-item asp-for="FirstName" />
                <govuk-error-summary-item asp-for="LastName" />
                <govuk-error-summary-item asp-for="ContactNumber" />
            </govuk-error-summary>

            <span class="govuk-caption-xl">Complete your profile</span>                              
            <h1 class="govuk-heading-xl">Please enter your contact details</h1>                                    
            <p class="govuk-body">Please complete your details below.</p>
            <p class="govuk-body">This will help autopopulate your forms on any new applications.</p>
                                
            <form asp-area="Administration" asp-controller="Account" asp-action="ContactDetails" method="post">
                <govuk-input asp-for="FirstName" name="FirstName" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">First name</govuk-input-label>
                </govuk-input>

                <govuk-input asp-for="LastName" name="LastName" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">Last name</govuk-input-label>
                </govuk-input>

                <govuk-input asp-for="ContactNumber" name="ContactNumber" input-class="govuk-input--width-20" 
                    inputmode="numeric" pattern="[0-9]*" spellcheck="false" input-maxlength="20">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">Contact number</govuk-input-label>
                </govuk-input>
                
                <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>                
            </form>
        </main>
    </div>
</div>
