@using HE.Remediation.Core.Interface
@model HE.Remediation.WebApp.ViewModels.Administration.AdminSecondaryContactDetailsViewModel

@{
    ViewData["Title"] = "Complete your profile";
    ViewData["FullWidth"] = false;
}
<div class="text-center">
    <div class="govuk-width-container">
        @if (!_adp.IsEnforcedFlow())
        {
            <a href="/Administration" class="govuk-back-link">Back</a>
        }    
        <main class="govuk-main-wrapper">
            <govuk-error-summary>
                <govuk-error-summary-item asp-for="Name" />
                <govuk-error-summary-item asp-for="ContactNumber" />
                <govuk-error-summary-item asp-for="EmailAddress" />
            </govuk-error-summary>
            <span class="govuk-caption-xl">Complete your profile</span>
            <h1 class="govuk-heading-xl">Provide additional contact information</h1>
                                    
            <form asp-area="Administration" asp-controller="Account" asp-action="SecondaryContactDetails" method="post">
                <govuk-input asp-for="Name" name="Name" input-class="govuk-input--width-10" inputmode="text" spellcheck="false">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">Additional contact name</govuk-input-label>
                </govuk-input>

                <govuk-input asp-for="ContactNumber" name="ContactNumber" input-class="govuk-input--width-10" inputmode="text" spellcheck="false" input-maxlength="20">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">Contact number</govuk-input-label>
                </govuk-input>

                <govuk-input asp-for="EmailAddress" name="EmailAddress" input-class="govuk-input--width-10" inputmode="text" spellcheck="false">
                    <govuk-input-label is-page-heading="false" class="govuk-label--s">Email address</govuk-input-label>
                </govuk-input>

                
                <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>                
            </form>
        </main>
    </div>
</div>
