@{
    ViewData["Title"] = "Unauthorised";
}

<div class="text-center">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Unauthorised</h1>
                    
                    <p class="govuk-body">
                        You are unauthorised.
                        <br/><br/>
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>