@{
    ViewData["Title"] = "Sorry";
}

<div class="text-center">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                    
                    <p class="govuk-body">
                        Please try again later.
                        <br/><br/>
                        <a class="govuk-link" href="#">Contact the MRS Helpline</a> if this problem keeps occurring
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>