@{
    ViewData["Title"] = "Get help";    
}

<div class="text-center">
    <div class="govuk-width-container">
        <a href="/Application/Dashboard" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">                
                <h1 class="govuk-heading-xl">Get help</h1>
                <p class="govuk-body">You can contact the Cladding Safety Scheme team:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>using the telephone helpline</li>
                    <li>using the email address</li>
                </ul>
                <h2 class="govuk-heading-m">Need assistance</h2>
                <p class="govuk-body">If you need assistance using the the Cladding Safety Scheme service please refer to the guidance provided within your welcome communication.</p>
                <h2 class="govuk-heading-m">Contact Details</h2>
                <h3 class="govuk-heading-s">Telephone help line</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Telephone: 0300 323 0180</li>
                </ul>                
                <p class="govuk-body">Monday to Friday, 8am to 6pm (closed on bank holidays). Calls to 0800 numbers are free
                from landlines and mobiles.</p>
                <h3 class="govuk-heading-s">Email address</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Email us: <a class="govuk-link" href="mailto:support@claddingsafetyscheme.homesengland.org.uk">support@claddingsafetyscheme&#8203;.homesengland.org.uk</a></li>
                </ul>
                <p class="govuk-body">Our email mailbox is monitored on a regular basis, so please expect a response within 48 hours.</p>
            </div>                        
        </main>
    </div>
</div>
