@using GovUk.Frontend.AspNetCore.TagHelpers
@using HE.Remediation.Core.Enums
@using HE.Remediation.Core.Interface
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IApplicationDataProvider applicationDataProvider;
@{
    ViewData["Title"] = "New building record";
    var isRasScheme = applicationDataProvider.GetApplicationScheme() == EApplicationScheme.ResponsibleActorsScheme;
    var isSocialSector = applicationDataProvider.GetApplicationScheme() == EApplicationScheme.SocialSector;
}

<div class="text-center">
    <div class="govuk-width-container">
        <a href="/SchemeSelection" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">New building record</h1>

                    <p class="govuk-body">Register a new building that is eligible for remediation works.</p>
                    <p class="govuk-body">You'll need to complete and submit each building before you can add the next one.</p>
                    <p class="govuk-body">You can save each building record as a draft at any stage.</p>
                    <h2 class="govuk-heading-m">Use this service to:</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        @if (isSocialSector)
                        {
                            <li>supply building details for a building being remediated via the Social Sector Self-funded route</li>
                        }
                        else if (isRasScheme)
                        {
                            <li>supply building details for the Responsible Actors Scheme (RAS)</li>
                        }
                        else
                        {
                            <li>supply building details for one of the government's building remediation schemes (Responsible Actors Scheme, Social Sector Schemes etc)</li>
                        }
                        <li>provide information on the Responsible Entity</li>
                    </ul>

                    <p class="govuk-body">The building record can be submitted once all details have been added.</p>

                    <p class="govuk-body">
                        In order to finalise and submit your building record, you @(isRasScheme ? "will" : "should") need to submit outputs from a Fire Risk Assessment (FRA) and a
                                                                                                                                                                  <a class="govuk-link" href="https://www.bsigroup.com/en-GB/standards/pas-9980/" rel="noreferrer noopener" target="_blank">Fire Risk Assessment of External Walls (FRAEW)</a>. These will be provided by an accredited panel member.
                    </p>
                    
                    <form asp-area="Application" asp-controller="Dashboard" asp-action="start" method="post">
                        <govuk-button is-start-button="true" type="submit">Start Now</govuk-button>
                    </form>
                </div>
                <div class="govuk-grid-column-one-third">                    
                </div>
            </div>
        </main>
    </div>
</div>
