﻿@using GovUk.Frontend.AspNetCore.TagHelpers
@model HE.Remediation.Core.UseCase.Areas.Application.EligibilityCheck.CreateEligibilityCheck.CreateEligibilityCheckRequest

@{
    ViewData["Title"] = "Medium Rise Mediation";
}

<div class="text-center">
    <div class="govuk-width-container">
        <a href="LandingPage" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Confirm that this service is right for you</h1>

                    <p class="govuk-body">
                        In order to ensure you are applying for the correct service for your needs,
                        please acknowledge and confirm the following statements by selecting the checkboxes before
                        creating an account.
                    </p>

                    <form asp-controller="EligibilityCheck" asp-action="Index" method="post">
                        <govuk-error-summary>
                            <govuk-error-summary-item asp-for="ApplyingForTheRemediationOfUnsafeCladding"/>
                            <govuk-error-summary-item asp-for="AwareOfTheBuildingHeight"/>
                            <govuk-error-summary-item asp-for="EligibleToCreateApplication"/>
                            <govuk-error-summary-item asp-for="ReadGuidanceAndPoliciesRelated"/>
                        </govuk-error-summary>

                        <govuk-checkboxes name="ApplyingForTheRemediationOfUnsafeCladding" asp-for="ApplyingForTheRemediationOfUnsafeCladding">
                            <govuk-checkboxes-item value="true">I confirm that I am applying for the remediation of unsafe cladding system(s) of a residential building</govuk-checkboxes-item>
                        </govuk-checkboxes>

                        <govuk-details open="false">
                            <govuk-details-summary>
                                What is a residential building?
                            </govuk-details-summary>
                            <govuk-details-text>
                                A building that has 2 or more flats with long leaseholders who pay a service charge
                            </govuk-details-text>
                        </govuk-details>

                        <govuk-checkboxes name="AwareOfTheBuildingHeight" asp-for="AwareOfTheBuildingHeight">
                            <govuk-checkboxes-item value="true">I am aware of the building height requirements for the Cladding Safety Scheme applications</govuk-checkboxes-item>
                        </govuk-checkboxes>

                        <govuk-checkboxes name="EligibleToCreateApplication" asp-for="EligibleToCreateApplication">
                            <govuk-checkboxes-item value="true">I am eligible to create an application(s) for the Cladding Safety Scheme as either a responsible entity or authorised representative</govuk-checkboxes-item>
                        </govuk-checkboxes>

                        <govuk-details open="false">
                            <govuk-details-summary>
                                Who is eligible to apply?
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p class="govuk-body">In the private sector, applications are open to the Responsible Entity (or an agent acting on their behalf) that has a building that meets the eligibility criteria set out in the section below.</p>

                                <p class="govuk-body">In the social sector, applications are open to the Responsible Entity for a building, usually the Registered Provider of Social Housing (RP) that has a building that meets the eligibility criteria set out in the section below.</p>

                                <p class="govuk-body">Following receipt of your application, Homes England will review your application to establish if the legal criteria for access to the CSS have been satisfied and as to whether you are entitled to be treated as the correct Responsible Entity. </p>

                                <p class="govuk-body">Applications will not be accepted from leaseholders (unless they are the head leaseholder acting as the Responsible Entity), but they should encourage their landlords/building owners or managing agents for the building to register if costs of eligible works would otherwise be passed to leaseholders.</p>

                                <p class="govuk-body">Applicants can appoint a representative to lead their application day-to-day and this may be a managing agent or the project manager.</p>
                            </govuk-details-text>
                        </govuk-details>

                        <govuk-checkboxes name="ReadGuidanceAndPoliciesRelated" asp-for="ReadGuidanceAndPoliciesRelated">
                            <govuk-checkboxes-item value="true">I have read the guidance and policies related to this service</govuk-checkboxes-item>
                        </govuk-checkboxes>

                        <p class="govuk-body">
                            If any of the above statements are incorrect, use the related links on
                            the right hand side to find the correct service.
                        </p>

                        <govuk-button type="submit">Continue</govuk-button>
                    </form>
                    
                    <div>
                        <a class="govuk-link" href="@Url.Action("Index", "LandingPage")">Cancel and exit</a>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <hr class="related-content-separator-line"/>
                    <h2 class="govuk-heading-m">Related items</h2>
                    <a asp-action="Login" asp-controller="Authentication" asp-area="" class="govuk-link">Sign in to continue or manage your existing grant application</a>
                </div>
            </div>
        </main>
    </div>
</div>
