@using HE.Remediation.Core.Enums
@model HE.Remediation.WebApp.ViewModels.ClosingReport.Shared.ClosingReportAboutViewModel
@{
    Layout = "~/Areas/ClosingReport/Views/Shared/_SideCardLayout.cshtml";
    ViewData["Title"] = "Ratings For Contractors";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";
    ViewData["BackLink"] = Url.Action("TaskList", "ClosingReport", new { Area = "ClosingReport" });
    ViewData["FullWidth"] = true;
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">In this section</h2>

        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#practical-completion--scheme-exit" class="govuk-link govuk-!-margin-bottom-2">
            Guidance
        </a>
    </div>
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">About this section</h1>
<p class="govuk-body">
    In this section we will ask you to provide feedback on the performance of your lead and sub-contractors.
</p>

@using (Html.BeginForm())
{
   <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>
}