<h1 class="govuk-heading-xl">Upload Building Control evidence</h1>

<p class="govuk-body">
    Please upload the completion certificate from the appropriate Building Control body in respect of building regulations. For buildings over 
    18 metres or at least 7 storeys, this is likely to be Gateway 3 approval from the Building Safety Regulator.
</p>