@using HE.Remediation.Core.Enums
@{
    Layout = "~/Areas/ClosingReport/Views/Shared/_SideCardLayout.cshtml";
    ViewData["Title"] = "Building Control Evidence";
    ViewData["BackLink"] = Url.Action("TaskList", "ClosingReport", new { Area = "ClosingReport" });
    ViewData["FullWidth"] = true;
}

@section InfoCardSection
{
    <div class="info-card blank-background govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-1">
        <h2 class="govuk-heading-m">In this section</h2>

        <a target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#practical-completion--scheme-exit" class="govuk-link govuk-!-margin-bottom-2">
            Guidance
        </a>
    </div>
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">About this section</h1>

<p class="govuk-body">
    In this section we will ask you to upload evidence of sign off from the relevant Building Control authority for completion of your works.
</p>

<p class="govuk-body">
    You should include:
    <ul class="govuk-list govuk-list--bullet">
        <li>evidence of whether an application to Building Control was or was not needed for this project</li>
        <li>evidence of sign off, if applicable, by either the Building Safety Regulator (buildings over 7 storeys or 18m) or Building Control</li>
    </ul>
</p>

<p class="govuk-body">
    For further information please refer to the guidance.
</p>

@using (Html.BeginForm())
{
   <govuk-button name="SubmitAction" value="Continue">Continue</govuk-button>
}