@model HE.Remediation.WebApp.ViewModels.PracticalCompletionMilestone.CheckYourAnswersViewModel

@{
    ViewData["Title"] = "Milestone - Check your answers";
    ViewData["SubTitle"] = $"{Model.BuildingName} ({Model.ApplicationReferenceNumber})";

    ViewData["BackLink"] = Url.Action("PracticalCompletion", "PracticalCompletionMilestone", new { Area = "PracticalCompletionMilestone" });
    ViewData["FullWidth"] = true;
}

<h1 class="govuk-heading-xl">Check your answers</h1>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>What date did you achieve practical completion?</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@(Model.PracticalCompletionDate.HasValue ? Model.PracticalCompletionDate.Value.ToString("dd/MM/yyyy") : "-")</govuk-summary-list-row-value>
        @if (!Model.IsSubmitted)
        {
            <govuk-summary-list-row-action href="@Url.Action("PracticalCompletion", "PracticalCompletionMilestone", new { Area = "PracticalCompletionMilestone" })">
                Change your answers
            </govuk-summary-list-row-action>
        }
    </govuk-summary-list-row>
</govuk-summary-list>

<form asp-area="PracticalCompletionMilestone" asp-controller="PracticalCompletionMilestone" asp-action="SubmitCheckYourAnswers" method="post">
    <div class="comp-btn-group">
        <govuk-button name="SubmitAction">Continue</govuk-button>
    </div>
</form>