<html lang="en">
<head>
    <link rel="stylesheet" href="css/gov-notify-footer.css">
</head>
<body>
    <div class="footer">
        <div class="footer-text-wrapper">
            <p class="footer-text">
                Cladding Safety Scheme<br />
                Davies Group<br />
                The Forsyth Building<br />
                5 Renfield Street<br />
                Glasgow<br />
                G2 5EZ
            </p>
            <p class="footer-text">
                0300 323 0180<br />
                support@claddingsafetyscheme.co.uk
            </p>
        </div>
        <div class="footer-image-wrapper">
            <img class="logo" src="img/DaviesGroupLetterLogo.png" />
        </div>
    </div>
</body>
</html>