@model HE.Remediation.Core.Services.GovNotify.ViewModels.GovNotifyEmailViewModel
<html lang="en">
<head>
    <link rel="stylesheet" href="css/gov-notify-footer.css">
</head>
<body>
    <div class="head">
        <img class="logo" src="img/LetterLogo.png" />
        <span class="slogan">The Housing and Regeneration Agency</span>
    </div>
    <div class="body">
        <div class="avoid-break">
            <p>
                Dear @Model.ContactFirstName @Model.ContactSurname,
            </p>
        </div>
        <div class="avoid-break">
            <strong>
                Thank you for applying for remediation funding for @Model.BuildingName @Model.ReferenceNumber.
            </strong>
        </div>
        <div class="avoid-break">
            <p>
                If you need further help, contact the Cladding Safety Scheme by emailing
                <a href="mailto:support@claddingsafetyscheme.co.uk">support@claddingsafetyscheme.co.uk</a>.
                Please include the building’s name and number in the email subject line. Alternatively, you can call the team on 0300 323 0180.
            </p>
        </div>
        <div class="avoid-break">
            <p>
                Yours sincerely
            </p>
            <p>
                The Cladding Safety Scheme Team
            </p>
        </div>
    </div>
</body>
</html>