@model HE.Remediation.WebApp.ViewModels.BankAccount.BankAccountDetailsViewModel

@{
    ViewData["Title"] = "Bank Account Details";
    ViewData["BackLink"] = Url.Action("AccountGrantPaidTo", "BankAccount", new { Area = "BankAccount" });
}
@section ErrorSummary
{
    <govuk-error-summary>
        <govuk-error-summary-item asp-for="NameOnTheAccount" />
        <govuk-error-summary-item asp-for="BankName" />
        <govuk-error-summary-item asp-for="BranchName" />
        <govuk-error-summary-item asp-for="AccountNumber" />
        <govuk-error-summary-item asp-for="SortCode" />
    </govuk-error-summary>
}

<h1 class="govuk-heading-xl">UK bank account details</h1>

<p class="govuk-body">This is the account the grant and any pre-tender support will be paid to.</p>

<form asp-area="BankAccount" asp-controller="BankAccount" asp-action="BankAccountDetailsRepresentative" method="post">
    <govuk-input asp-for="NameOnTheAccount" name="NameOnTheAccount" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">Name on the account</govuk-input-label>
    </govuk-input>

    <govuk-input asp-for="BankName" name="BankName" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">Bank name</govuk-input-label>
    </govuk-input>

    <govuk-input asp-for="BranchName" name="BranchName" input-class="govuk-input--width-20" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">Branch name</govuk-input-label>
    </govuk-input>

    <govuk-input asp-for="AccountNumber" name="AccountNumber" input-class="govuk-input--width-20" inputmode="text" pattern="[0-9]*" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">Account number</govuk-input-label>
        <govuk-input-hint>Must be between 6 and 8 digits long</govuk-input-hint>
    </govuk-input>

    <govuk-input asp-for="SortCode" name="SortCode" input-class="govuk-input--width-20" inputmode="text" pattern="[0-9]*" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">Sort code</govuk-input-label>
        <govuk-input-hint>Must be 6 digits long</govuk-input-hint>
    </govuk-input>

    <h3 class="govuk-heading-m">Confirm this account is protected</h3>
    <p class="govuk-body">By continuing, you confirm that this account is protected by an accredited <a href="https://www.gov.uk/client-money-protection-scheme-property-agents" class="govuk-link">client money protection scheme provider</a>, or an equivalent.</p>

    <govuk-button name="SubmitAction" value="Continue">Confirm and continue</govuk-button>
</form>