@{
    ViewData["Title"] = "Bank Account Details";
    ViewData["BackLink"] = Url.Action("Index", "TaskList", new { Area = "Application" });
}

<h1 class="govuk-heading-xl">What you'll need</h1>

<p class="govuk-body">You must use a UK bank account for the grant funding and also enter into a deed of trust. Please check your guidance.</p>

<p class="govuk-body">You'll need the:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>name on the account</li>
    <li>account number</li>
    <li>sort code</li>
    <li>bank name</li>
    <li>branch name</li>
</ul>

<govuk-button href="@Url.Action("BankAccountDetailsResponsibleEntity", "BankAccount", new {Area = "BankAccount"})">Continue</govuk-button>