@{
    ViewData["Title"] = "Bank Account Details";
    ViewData["BackLink"] = Url.Action("Index", "TaskList", new { Area = "Application" });
    ViewData["FullWidth"] = true;
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What you'll need</h1>

        <p class="govuk-body">You must use a UK bank account for the grant funding.</p>

        <p class="govuk-body">All bank account information provided to us is subject to an independent verification process which includes digital 
            and telephone checks. We will ask for the contact details of someone who can complete this verification on behalf of the Responsible 
            Entity or Representative, as applicable.</p>

        <p class="govuk-body">You'll need the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>name on the account</li>
            <li>account number</li>
            <li>sort code</li>
            <li>bank name</li>
            <li>branch name</li>
            <li>company VAT number (optional)</li>
        </ul>

        <p class="govuk-body">If the grant funding will be paid to you as the Representative, the account must be protected by an accredited
            <a href="https://www.gov.uk/client-money-protection-scheme-property-agents" rel="noreferrer noopener" target="_blank" class="govuk-link">client money protection scheme provider</a>, or an equivalent.</p>

        <p class="govuk-body">If the grant funding will be paid to the Responsible Entity, they must enter into a deed of trust. Please check the guidance for more information on requirements for bank accounts.</p>

        <govuk-button href="@Url.Action("AccountGrantPaidTo", "BankAccount", new {Area = "BankAccount"})">Continue</govuk-button>
    </div>

    <div class="govuk-grid-column-one-third">
        <hr class="related-content-separator-line" />
        <h2 class="govuk-heading-m">In this section</h2>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/cladding-safety-scheme/applying-for-funding-for-the-cladding-safety-scheme#information-required-on-the-bank-account-to-be-used-for-receipt-of-grant-funding">Requirements for bank accounts</a>
    </div>
</div>